:root {
  /* Typography & rendering */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark theme colors */
  color-scheme: dark;
  color: #EFEEF1; /* onSurface */
  background-color: #1B2240; /* background */

  /* Custom color palette */
  --color-primary: #AD9BF6;
  --color-primary-variant: #2F1D76;
  --color-secondary: #82AAFF;
  --color-secondary-variant: #303C6A;
  --color-background: #1B2240;
  --color-surface: #292F4D;
  --color-error: #FF5370;
  --color-on-primary: #060F2F;
  --color-on-secondary: #1B2240;
  --color-on-background: #959DAA;
  --color-on-surface: #EFEEF1;
  --color-on-error: #FFFFFF;
}

/* Light mode override */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: dark;
    color: var(--color-on-surface);
    background-color: var(--color-background);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: var(--color-on-surface);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 5px;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
}

.align-center {
  text-align: center;
}

.card {
  padding: 2em;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: 1rem;
}

.read-the-docs {
  color: var(--color-on-background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.on-surface-text {
  color: var(--color-on-surface);
}

.on-primary-text {
  color: var(--color-on-primary);
}

.profile-section {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.card-container {
  display: grid;
}

.card-container > * {
  grid-row: 1;
  grid-column: 1;
}

.button-container {
  max-width: 350px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}
